.codeBlock {
  --ifm-pre-background: var(--prism-background-color);
  margin: 0;
  padding: 0;
}

.codeBlockLines {
  font: inherit;
  display: table;
  width: 100%;
  border-spacing: 0;
  padding: var(--ifm-pre-padding);
}

.codeBlockLinesWithNumbering {
  display: table;
  width: 100%;
  border-spacing: 0;
  padding: var(--ifm-pre-padding) 0;
}
